@{
    ViewData["Title"] = "Home Page";
}



@model List<Pizza>


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" />
</head>

<body>



    <div class=" pizzacon container  container-fluid text-center border-0 mt-0 mb-8  ">
        <h1 class="m-3"> Le Top Pizze </h1>

        <div class="row main row  justify-content-evenly">

            @foreach (Pizza pizza in Model)
            {
                if (pizza.Favorites == true)
                {

                    <!--Primo card-->
                    <div class="col-12 col-md-4 col-xl-4 text-dark m-3">

                        <div class="card border-0" style="width: 18rem; ">
                            <img src="@pizza.Image" class="card-img-top" alt="Pizza">
                            <div class="card-body  ">
                                <h5 class="card-title">@pizza.Name</h5>
                                <p class="card-text">@pizza.Description</p>
                                <p>@pizza.Price €</p>
                                <a class="btn btn-primary mb-3" href="@Url.Action("Details", "Pizze", new { id = @pizza.Id } )" role="button">Dettagli</a>
                            </div>
                        </div>

                    </div>

                }
            }

        </div>
    </div>





</body>

</html>